# Streamlit UI
streamlit==1.32.2

# OCR & Multilingual Support
pytesseract==0.3.10
opencv-python-headless==4.9.0.80
Pillow==10.2.0
easyocr==1.7.1

# Layout Parsing
layoutparser==0.3.4

# Embedding & Vector Search
chromadb==0.4.24
sentence-transformers==2.2.2

# LangChain + Google Gemini
langchain==0.1.13
langchain-community==0.0.28
langchain-google-genai==0.0.9
google-generativeai==0.4.1

# Environment Variables
python-dotenv==1.0.1

# Utility
rich
markdown-it-py
mdurl
pygments

# Others
numpy
