streamlit==1.20.0
langchain==0.15.0
chromadb==0.3.19
google-generative-ai==0.3.1
openai==0.27.0
whisper==1.0
pytorch==1.13.1
numpy==1.23.4
scikit-learn==1.0.2
tqdm==4.64.1
pandas==1.5.3
ftfy==6.1
langchain-google-genai==0.1.1
python-dotenv==0.21.0
